/* fonts */
@font-face {
    font-family: 'Fira Sans Regular';
    src: url('fonts/FiraSans-Regular.eot');
    src: url('fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/FiraSans-Regular.woff2') format('woff2'),
        url('fonts/FiraSans-Regular.woff') format('woff'),
        url('fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Bold';
    src: url('fonts/FiraSans-Bold.eot');
    src: url('fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/FiraSans-Bold.woff2') format('woff2'),
        url('fonts/FiraSans-Bold.woff') format('woff'),
        url('fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Italic';
    src: url('fonts/FiraSans-Italic.eot');
    src: url('fonts/FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/FiraSans-Italic.woff2') format('woff2'),
        url('fonts/FiraSans-Italic.woff') format('woff'),
        url('fonts/FiraSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* mixins */
.reg() {
    font-family: 'Fira Sans Regular', sans-serif;
}

.bold() {
    font-family: 'Fira Sans Bold', sans-serif;
}

.italic() {
    font-family: 'Fira Sans Italic', sans-serif;
}

.boldBlack() {
    .bold();
    color: @black;
}

.boldGrey() {
    .bold();
    color: @grey;
}

/* variables */
@blue: #0C4DA2;
@white: #fff;
@black: #333333;
@grey: #999999;
@green: #00B5BD;
@green-bg: rgba(0, 181, 189, 0.2);
@orange: #F7B512;
@orange-bg: rgba(247, 181, 18, 0.2);
@light-grey: #CCCCCC;
@footer-bg: #f5f5f5;
@hover-btn: #003F90;
@side-bar-hover: rgba(12, 77, 162, 0.07);
@side-bar-btn: rgba(12, 77, 162, 0.2);

/* basics */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    .reg();
    color: @black;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.header {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .modal__content {
        background-color: #fefefe;
        margin: 0 auto;
        margin-top: 3%;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        border-radius: 10px;
    
        .modal__title {
            text-align: center;
            .bold();
            text-transform: uppercase;
            font-size: 20px;
            margin-bottom: 30px;
        }
    
        .modal__form {
    
            .wrapper {
                position: relative;
    
                .label {
                    position: absolute;
                    color: @grey;
                    font-size: 13px;
                    background: #fff;
                    padding: 0px 5px;
                    left: 2%;
                }
    
                .fio__label {
                    top: -15%;
                }
    
                .message__label {
                    top: -4%;
                }
        
                input {
                    display: block;
                    width: 100%;
                    border: 1px solid @light-grey;
                    font-size: 16px;
                    padding: 7px 5px;
                    outline: none;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    color: @black;
                }
    
                textarea {
                    resize: none;                
                    border: 1px solid @light-grey;
                    border-radius: 5px;
                    .reg();
                    font-size: 16px;
                    padding: 7px 5px;
                    outline: none;
                    color: @black;
                }
            } 
            
            .send {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 152px;
                height: 46px;
                border: none;
                background-color: @blue;
                color: @white;
                border-radius: 6px;
                transition: all .2s;
                margin-right: 6px;
                text-transform: uppercase;
                font-size: 14px;
                .reg();
                outline: none;
                margin-top: 20px;
    
                &:hover {
                    transition: all .2s;
                    background-color: @hover-btn;
                    cursor: pointer;
                }
            }
        }
    }
    
    .close {
        float: right;
        img {
            width: 10px;
        }
    
        &:hover {
            cursor: pointer;
        }
    }
}

.desktop {
    display: block !important;
}

.mobile {
    display: none !important;
}

.section, .footer {
    padding-top: 60px;
    .container {
        max-width: 1170px;
        margin: 0 auto;
    }
}

.footer {
    padding-top: 0;
}

.owl-carousel {
    .owl-dots {
        margin-top: 17px;
        text-align: center;
    
        .owl-dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            outline: none;
            background-color: rgba(12, 77, 162, 0.4);
            margin-right: 13px;
    
            &:last-child {
                margin-right: 0px;
            }
        }
    
        .active {
            background-color: @blue;
        }
    }
}

.tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    font-size: 14px;
    padding: 4px 10px;
    margin-right: 7px;
    margin-bottom: 6px;

    &:last-child {
        margin-right: 0;
    }
}

.blue {
    color: @blue;
    background-color: @side-bar-btn;
}

.green {
    color: @green;
    background-color: @green-bg;
}

.orange {
    color: @orange;
    background-color: @orange-bg;
}

/* header */
.header {
    background: url(img/header-bg.png) center top no-repeat;
}

.upper-header {
    display: flex;
    align-items: center;
    padding-top: 10px;

    .logo {
        margin-right: 76px;
    }
    
    .upper-header__info {
        display: flex;
        padding-bottom: 26px;
        padding-top: 11px;
        border-bottom: 1px solid @light-grey;
    
        .language {
            margin-right: 52px;
            color: @grey;
    
            .language__btn {
                border: none;
                font-size: 16px;
                text-transform: uppercase;
                color: @grey;
                outline: none;
                .reg();
    
                &:hover {
                    cursor: pointer;
                }
            }
    
            .active {
                .boldBlack();
            }
        }
    
        .prices {
            color: @grey;
            margin-right: 46px;
    
            .underline-price {
                text-decoration: underline;
                color: @black;
            }
        }
    
        .phone-number {
            margin-left: 28px;
            color: @grey;
    
            .bold-number {
                .bold();
                color: @black;
                font-size: 20px;
                margin-left: 10px;
            }

            .free-call {
                position: absolute;
                font-size: 14px;
                transform: translateX(92px);
            }
        }
    
        .consultation-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 152px;
            height: 46px;
            background-color: @blue;
            color: @white;
            border-radius: 6px;
            margin-left: 30px;
            transition: all .2s;
            margin-right: 6px;
            text-transform: uppercase;
            font-size: 14px;

            &:hover {
                transition: all .2s;
                background-color: @hover-btn;
                cursor: pointer;
            }
        }
    }
}

.lower-header {
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 30px;

    .title {
        text-transform: uppercase;
        .bold();
        font-size: 32px;
    }

    .nav {
        display: flex;
        align-items: center;
        margin-left: 56px;
        text-transform: uppercase;

        .nav-link {
            margin-right: 40px;
            .boldBlack();
        }

        .first:after {
            content: '|';
            margin-left: 18px;
            color: @light-grey;
            position: absolute;
            cursor: default;
            .reg();
        }

        .grey {
            .boldGrey();
            margin-left: 10px;
        }

        .last {
            margin-left: 45px;
            margin-right: 30px;
        }

        .my-file {
            width: 136px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .bold();

            a {
                color: @blue;
            }

            .counter {
                background-color: @blue;
                border-radius: 100px;
                color: @white;
                .reg();
                font-size: 14px;
                padding: 4px 5px;
            }
        }
    }
}

/* section 1*/
.sec1 {
    position: relative;
}

.wrapper {
    display: flex;

    .side-bar {
        position: relative;

        .side-bar__menu {
            box-shadow: 0px 0px 18px rgba(171, 171, 175, 0.45);
            border-radius: 15px;
            .boldBlack();
    
            .side-bar__item {
                display: flex;
                align-items: center;
                width: 290px;
                height: 58px;
                color: @black;
                padding-left: 15px;
                transition: all .2s;
    
                &:hover {
                    transition: all .2s;
                    color: @blue;
                    background-color: @side-bar-hover;
                    padding-left: 30px;
                }
    
                &:first-child {
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
    
                &:last-child {
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }
        }
    
        .side-bar__buttons {
            margin-top: 20px;
    
            .buttons__item {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 290px;
                height: 46px;
                color: @blue;
                background-color: @side-bar-btn;
                border-radius: 6px;
                .bold();
                transition: all .2s;
    
                &:last-child {
                    margin-top: 10px;
                }
    
                &:hover {
                    transition: all .2s;
                    background-color: rgba(12, 77, 162, 0.3);
                }
            }
        }
    
        .side-bar__under {
            position: relative;
            width: 290px;
            height: 838px;
            background-color: rgb(12, 77, 162);
            margin-top: 24px;
            opacity: .2;
        }

        .blue-square {
            position: absolute;
            width: 960px;
            height: 530px;
            background-color: rgba(12, 77, 162);
            opacity: .07;
            margin-top: -550px;
            margin-left: -135px;
        }
    }

    .right-side {
        width: 100%;
        .slider {
            position: relative;
    
            #left1 {
                position: absolute;
                top: 43%;
                left: 3%;
    
                &:hover {
                    cursor: pointer;
                }
            }
    
            #right1 {
                position: absolute;
                top: 43%;
                left: 94.3%;
                transform: rotate(180deg);
    
                &:hover {
                    cursor: pointer;
                }
            }
    
            .owl-carousel {
                max-width: 720px;
                margin-left: 90px;
            }
        }

        .main {
            .main__title {
                font-size: 42px;
                color: @grey;
                .bold();
                text-transform: uppercase;
                text-align: center;
                margin-top: 66px;
                margin-bottom: 110px;
                line-height: 140%;
            }

            .main__advantages {
                display: flex;
                align-items: center;
                position: relative;
                margin-left: 90px;

                .advantages__points {
                    .point {
                        margin-bottom: 40px;
    
                        .point__title {
                            .boldBlack();
                            font-size: 18px;
                            text-transform: uppercase;
                        }
    
                        .point__item {
                            display: flex;
                            align-items: flex-start;
                            margin-top: 20px;
                            width: 288px;
    
                            img {
                                margin-top: 6px;
                            }
    
                            .item__text {
                                margin-left: 16px;
                                line-height: 150%;
    
                                .bold {
                                    .boldBlack();
                                }
                            }
                        }
                    }
                }

                .advantages__video {
                    margin-left: 18px;
                }
            }
        }
    }
}

/* section 2*/
.catalog {
    .catalog__title {
        font-size: 32px;
        text-transform: uppercase;
        line-height: 140%;
        .boldBlack();
        margin-bottom: 60px;
        text-align: center;
    }

    .catalog__filter {
        box-shadow: 0px 0px 18px rgba(171, 171, 175, 0.45);
        border-radius: 15px;

        .filters {
            display: flex;
            align-items: center;
            padding-top: 33px;

            .filter__item {
                width: 390px;
                height: 226px;
                max-height: 226px;
                border-right: 2px solid rgba(12, 77, 162, 0.1);

                &:last-child {
                    border-right: none;
                }

                &:nth-child(2) {
                    overflow-y: scroll;
                }

                .item__title {
                    font-size: 20px;
                    .boldBlack();
                    text-transform: uppercase;
                    line-height: 130%;
                    text-align: center;
                    margin-bottom: 36px;

                    .question {
                        position: absolute;
                        margin-top: -5px;
                        margin-left: 5px;
                    }
                }

                .checkbox {
                    margin-left: 84px;
                    margin-bottom: 22px;

                    input[type=checkbox] {
                        display: none;
                    }

                    input[type=checkbox] + label:before {
                        content: "";
                        display: inline-block;
                        margin: -5px 12px 0 0;
                        height: 20px;
                        width: 20px;
                        text-align: center;
                        vertical-align: middle;
                        background: url(img/unchecked.png);
                    }

                    input[type=checkbox]:checked + label:before {
                        background: url(img/checked.png);
                    }

                    input[type=checkbox]:checked + label {
                        .bold();
                    }

                    label {
                        .reg();
                        color: @black;
                        line-height: 120%;
                    }

                    &:last-child {
                        margin-bottom: 0px;
                    }

                    .brand {
                        display: block;
                        .bold();
                        color: @black;
                        line-height: 120%;
                        margin-bottom: 22px;
                    }
                }
            }
            ::-webkit-scrollbar {
                width: 8px;
                height: 90px;
                background-color: transparent;
            }

            ::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: @side-bar-hover;

            }

            ::-webkit-scrollbar-thumb:hover {
                background-color: @side-bar-btn
            }
        }

        .search {
            margin-top: 16px;

            .search__input {
                width: 970px;
                height: 40px;
                padding: 10px 30px;
                border-bottom-left-radius: 15px;
                border: none;
                background-color: @side-bar-hover;
                color: rgba(12, 77, 162, 0.6);
                .reg();
                font-size: 14px;
                outline: none;
            }

            ::placeholder {
                color: rgba(12, 77, 162, 0.4);
                .reg();
                font-size: 14px;
                opacity: 1;
            }
              
            :-ms-input-placeholder {
                color: rgba(12, 77, 162, 0.4);
                .reg();
                font-size: 14px;
            }
              
            ::-ms-input-placeholder {
                color: rgba(12, 77, 162, 0.4);
                .reg();
                font-size: 14px;
            }

            .clear {
                border: none;
                line-height: 140%;
                color: @grey;
                font-size: 14px;
                .reg();
                background: none;
                padding: 11px 24px 11px 34px;
                border-bottom-right-radius: 15px;
                outline: none;

                &:hover {
                    cursor: pointer;
                }

                img {
                    margin-left: 10px;
                }
            }
        }
    }

    .catalog__showed {
        font-size: 14px;
        line-height: 140%;
        margin: 20px 0;
    }

    .catalog__slider {
        position: relative;

        .slider__nav {
            #left2 {
                position: absolute;
                top: 46%;
                cursor: pointer;
            }

            #right2 {
                position: absolute;
                top: 46%;
                left: 96%;
                transform: rotate(180deg);
                cursor: pointer;
            }
        }
    
        .owl-carousel {
            margin: 0 auto;
            width: 1063px;
            height: 500px;
    
            .slider__card {
                width: 340px;
                height: 480px;
                border-radius: 15px;
                border: 1px solid rgba(171, 171, 175, 0.45);;
                transition: all .2s;
    
                .card__image {
                    img {
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                }
        
                .card__title {
                    font-size: 18px;
                    line-height: 130%;
                    .bold();
                    text-transform: uppercase;
                    margin: 20px 22px;
                }
        
                .card__text {
                    line-height: 150%;
                    margin: 0 22px;
                }
        
                .card__cost {
                    margin-top: 8px;
                    text-align: right;
                    margin-right: 22px;
                    margin-bottom: 16px;
        
                    .bold {
                        .bold();
                    }
                }
        
                .card__tags {
                    display: flex;
                    align-items: center;
                    padding: 0px 20px;
                }
        
                &:hover {
                    transition: all .2s;
                    cursor: pointer;
                    box-shadow: 0px 0px 10px rgba(173, 171, 175, 0.65);
                }
            }
        }
    }
}

/* section 3*/
.sec3 {
    background-color: @side-bar-hover;
    margin-top: 90px;
    padding-bottom: 40px;
    margin-bottom: 40px;

    .ways {
        .ways__title {
            .bold();
            line-height: 150%;
            font-size: 26px;
            text-align: center;
            margin-bottom: 60px;
        }

        .get-info {
            position: relative;
            box-shadow: 0px 0px 6px rgba(171, 171, 175, 0.2);
            border-radius: 15px;

            .ui-tabs {
                padding: 0;                   
            }    

            .ui-tabs-panel {
                padding: 30px 24px;
            }

            .ui-tabs-nav {
                padding: 0;
            }

            .ui-widget-header {
                border: none;
            }
    
            .ui-widget.ui-widget-content {
                border: none;
            }

            .ui-corner-all {
                border-radius: 15px;
            }

            .ui-tabs .ui-tabs-nav {
                margin: 0;
                padding: 0;
                border: none;
            }
    
            .ui-widget-header {
                background: none;
            }
    
            .ui-tabs .ui-tabs-nav li {
                margin: 0;
                padding: 0;
                border: none;
            }
    
            li:first-child {
                border-top-left-radius: 15px;
            }
    
            li:last-child {
                border-top-right-radius: 15px;
                padding-right: 1px;
            }
    
            .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
                padding: 21px 44px;
                cursor: pointer;
                color: rgba(12, 77, 162, 0.6);
                font-size: 20px;
                line-height: 150%;
                .bold();
                outline: none;
                min-width: 220px;
                text-align: center;
    
                &:first-child {
                    border-top-left-radius: 15px;
                }
            }
    
            .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
                background: rgba(12, 77, 162, 0.04);;
            }
    
            // active
            .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
                background: none;
                background-color: @blue;
                border: none;
    
                a {
                    color: @white !important;
                }
            }
    
            .tabs__line {
                position: absolute;
                width: 1070px;
                border: 1px solid rgba(12, 77, 162, 0.07);
                transform: translateX(50px) translateY(-2px);
            }
            
            
            .tab__wrapper {
                display: flex;

                .text-content {
                    margin-right: 84px;

                    .item {
                        font-size: 16px;
                        line-height: 150%;
                        text-align: center;
                        .reg();
                        margin-bottom: 24px;
                        margin-left: 6px;

                        img {
                            margin-bottom: -3px;
                        }

                        .italic {
                            .italic();
                            color: @grey;
                        }

                        &:first-child {
                            margin-top: 56px;
                        }
                    }

                    .btn {
                        width: 152px;
                        height: 46px;
                        margin: 0 auto;
                        text-align: center;
                        padding: 13px 26px;
                        color: @blue;
                        text-transform: uppercase;
                        .bold();
                        font-size: 14px;
                        box-shadow: 0px 0px 6px rgba(12, 77, 162, 0.2);
                        border-radius: 6px;
                        cursor: pointer;
                        margin-bottom: 48px;

                        img {
                            margin-bottom: -3px;
                            margin-right: 8px;
                        }
                    }
                }

                .slider {
                    position: relative;
                    max-width: 560px;

                    .slider__nav {
                        
                        #left3 {
                            position: absolute;
                            top: 35%;
                            left: -9%;
                            cursor: pointer;
                        }

                        #right3 {
                            position: absolute;
                            top: 35%;
                            left: 101%;
                            transform: rotate(180deg);
                            cursor: pointer;
                        }
                    }

                    .file {
                        width: 270px;
                        height: 396px;
                        border-radius: 15px;
                        border: 1px solid rgba(171, 171, 175, 0.45);
                        transition: all .2s;
                        
                        &:hover {
                            box-shadow: 0px 0px 10px rgba(173, 171, 175, 0.65);
                            transition: all .2s;
                        }
                    }

                    .file__title {
                        padding: 20px 20px 10px 20px;
                        .bold();
                        line-height: 130%;
                    }

                    .file__description {
                        .italic();
                        font-size: 14px;
                        line-height: 150%;
                        padding: 0 20px 30px 20px;
                    }

                    .file__tags {
                        display: flex;
                        flex-wrap: wrap;
                        padding: 0px 20px;
                    }

                    .owl-dots {
                        margin-top: 45px;
                    }
                }
            }            
        }
    }
}

/* footer */
.footer {
    background-color: @footer-bg;

    .footer__inner {
        display: flex;
        padding-top: 44px;
        padding-bottom: 28px;

        .logo {
            margin-right: 54px;
        }

        .upper {
            display: flex;
            border-bottom: 1px solid @light-grey;

            .information__title {
                font-size: 26px;
                text-transform: uppercase;
                line-height: 100%;
                .bold();
            }

            .information__links {
                margin-left: 60px;
                margin-top: 3px;

                .link {
                    .bold();
                    line-height: 100%;
                    text-transform: uppercase;
                    color: @black;
                    margin-right: 40px;

                    &:last-child {
                        margin-right: 0px;
                    }

                    &:first-child {
                        position: relative;

                        &:after {
                            content: '|';
                            margin-left: 18px;
                            font-size: 20px;
                            color: @light-grey;
                            position: absolute;
                            cursor: default;
                            .reg();
                            top: -1%;
                        }
                    }
                }

                .grey {
                    color: @grey;   
                }
            }

            .information__phones {
                .phones__item {
                    width: 230px;
                    text-align: right;
                    margin-top: -3px;
                    margin-bottom: 12px;
                    margin-left: 37px;
                    font-size: 20px;
                    .bold();

                    .small {
                        display: block;
                        font-size: 14px;
                        color: @grey;
                        .reg();
                    }
                }
            }
        }

        .lower {
            display: flex;
            margin-top: 30px;

            .country {
                margin-right: 70px;
            }

            .country .text-content {
                width: 290px;
            }

            .text-content {
                font-size: 14px;
                line-height: 150%;
                margin-bottom: 20px;

                .bold {
                    .bold();
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .social {
                margin-left: 266px;
                margin-top: 50px;

                .social__logos {
                    width: 246px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .not-afera {
                    margin-top: 68px;
                    font-size: 14px;
                    color: @grey;
                    text-align: right;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .mobile {
        display: block !important;
    }

    .desktop {
        display: none !important;
    }

    .container {
        width: 100%;
        padding: 0px 15px;
    }

    .section {
        padding-top: 30px;
    }

    /* header */
    .header {
        .upper-header {
            justify-content: space-between;
            padding: 10px 0;

            .logo {
                margin-right: 0;
                
                img {
                    width: 45px;
                }
            }

            .menu {
                img {
                    width: 32px;
                }
            }

            .title {
                font-size: 24px;
                .bold();
                text-transform: uppercase;
                text-align: center;
            }
            
            .upper-header__info {
                display: none;
            }
        }

        .lower-header {
            display: none;
        }
    }

    /* section 1 */
    .sec1 {
        .side-bar {
            display: none;
        }

        .right-side {
            .main__title {
                .boldGrey();
                font-size: 27px;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 30px;
            }

            .slider {
                .slider__nav {
                    display: none;
                }

                .owl-carousel {
                    width: 100%;
                    margin-left: 0;
                }
            }

            .main__advantages {
                display: block !important;
                margin-left: 0px !important;
                margin-top: 30px;

                .advantages__points {
                    .point {
                        margin: 0 auto;
                        margin-bottom: 20px !important;
    
                        .point__title {
                            margin-left: 20px;
                        }
    
                        .point__item {
                            padding: 0px 20px;
                            width: 100% !important;
                            justify-content: space-around;
                        }
                    }
                }

                .advantages__video {
                    margin-left: 0 !important;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    /* section 2*/
    .catalog {
        .catalog__title {
            font-size: 27px;
            margin-bottom: 30px;
        }

        #accordion-resizer1 {
            height: 230px;
        }

        .catalog__filter {
            box-shadow: none;
            border: none;

            .ui-state-active {
                background-color: @side-bar-hover;
                color: rgba(12, 77, 162, 0.6);
                outline: none;
                border: 1px solid #dddddd;
            }

            .ui-state-default {
                border: 1px solid #dddddd;
                margin: 0;
                border-radius: 0;;
            }

            .filters {
                display: block;
                padding-top: 0;
                border-radius: 5px;

                .item__title {
                    text-transform: uppercase;
                    .bold();
                }

                .ui-icon {
                    display: none;
                }

                .checkbox {
                    margin-left: 0px;
                    margin-bottom: 10px;

                    input[type=checkbox] {
                        display: none;
                    }

                    input[type=checkbox] + label:before {
                        content: "";
                        display: inline-block;
                        margin: -5px 12px 0 0;
                        height: 20px;
                        width: 20px;
                        text-align: center;
                        vertical-align: middle;
                        background: url(img/unchecked.png);
                    }

                    input[type=checkbox]:checked + label:before {
                        background: url(img/checked.png);
                    }

                    input[type=checkbox]:checked + label {
                        .bold();
                    }

                    label {
                        .reg();
                        color: @black;
                        line-height: 120%;
                    }

                    &:last-child {
                        margin-bottom: 0px;
                    }

                    .brand {
                        display: block;
                        .bold();
                        color: @black;
                        line-height: 120%;
                        margin-bottom: 22px;
                    }
                }
            }

            .search {
                width: 100%;
                position: relative;

                .search__input {
                    width: 100%;
                    border-radius: 5px;
                    padding: 11px 15px;
                }

                .clear {
                    position: absolute;
                    left: 85%;
                    padding: 11px 20px;

                    img {
                        margin-left: 0;
                    }
                }
            }
        }

        .catalog__slider {
            .owl-carousel {
                width: 290px;

                .slider__card {
                    width: 290px;

                    .card__image {
                        img {
                            width: 288px;
                        }
                    }
                }
            }
        }
    }

    /* section 3 */
    .sec3 {
        margin-top: 35px;
        margin-bottom: 0;
        background-color: @white;

        .ways {
            .ways__title {
                margin-bottom: 30px;
            }

            .get-info {
                box-shadow: none;
                
                #accordion-resizer2 {
                    height: 500px;
                    
                    .ui-accordion-content {
                        padding: 0;
                    }
    
                    .ui-icon {
                        display: none;
                    }
    
                    .ui-corner-all {
                        border-radius: 0;
                    }
    
                    .ui-state-default {
                        border: 1px solid #dddddd;
                    }
    
                    .item__title {
                        margin: 0;
                        outline: none;
                        text-transform: uppercase;
                        .bold();
                    }
    
                    .text-content {
                        margin-right: 0px;
                        padding: 10px;
    
                        .item {
                            font-size: 16px;
                            line-height: 150%;
                            .reg();
                            margin-bottom: 15px;
    
                            img {
                                margin-bottom: -3px;
                            }
    
                            .italic {
                                .italic();
                                color: @grey;
                            }
                        }
    
                        .btn {
                            width: 152px;
                            height: 46px;
                            margin: 0 auto;
                            text-align: center;
                            padding: 13px 26px;
                            color: @blue;
                            text-transform: uppercase;
                            .bold();
                            font-size: 14px;
                            box-shadow: 0px 0px 6px rgba(12, 77, 162, 0.2);
                            border-radius: 6px;
                            cursor: pointer;
                            margin-bottom: 10px;
    
                            img {
                                margin-bottom: -3px;
                                margin-right: 8px;
                            }
                        }

                        .slider {
                            margin-top: 20px;

                            .file {
                                width: 258px;
                                border: 1px solid #dddddd;
                                border-radius: 15px;
                                padding-bottom: 10px;
                                margin: 0 auto;

                                .file__title {
                                    padding: 20px 20px 10px 20px;
                                    .bold();
                                    line-height: 130%;
                                }
            
                                .file__description {
                                    .italic();
                                    font-size: 14px;
                                    line-height: 150%;
                                    padding: 0 20px 30px 20px;
                                }
            
                                .file__tags {
                                    display: flex;
                                    flex-wrap: wrap;
                                    padding: 0px 20px;
                                }
                            }
                        }
                    }

                    ::-webkit-scrollbar {
                        width: 8px;
                        height: 90px;
                        background-color: transparent;
                    }
        
                    ::-webkit-scrollbar-thumb {
                        border-radius: 4px;
                        background-color: @side-bar-hover;
        
                    }
        
                    ::-webkit-scrollbar-thumb:hover {
                        background-color: @side-bar-btn
                    }
                }
            }
        }
    }

    /* footer */
    .upper {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;

        .logo {
            margin-right: 0;
            
            img {
                width: 45px;
                margin-right: 35px;
            }
        }

        .title {
            font-size: 24px;
            .bold();
            text-transform: uppercase;
            text-align: center;
        }
    }

    .lower {
        padding-bottom: 20px;
        
        #accordion-resizer3 {
            height: 248px;

            .ui-state-active {
                background-color: @side-bar-hover;
                color: rgba(12, 77, 162, 0.6);
                outline: none;
                border: 1px solid #dddddd;
            }

            .ui-state-default {
                border: 1px solid #dddddd;
                margin: 0;
                border-radius: 0;;
            }

            .footer__accordeon {
                display: block;
                padding-top: 0;
                border-radius: 5px;

                .header {
                    text-transform: uppercase;
                    .bold();
                }

                .ui-icon {
                    display: none;
                }

                .ui-accordion-content {
                    padding: 10px 10px 0px 10px;
                }

                .text {
                    font-size: 16px;
                    color: @black;
                    .reg();
                    margin-bottom: 10px;

                    .bold {
                        .bold();
                    }
                }
            }
        }

        .social {
            margin: 0 auto;
            width: 290px;
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
        }
    }
    

    .footer__inner {
        display: none !important;
    }
    
}